.gallery-container{
     background-color: orange;
     width: 45vw;
     margin: auto 0;
}

@media (max-width: 550px){
     
     .gallery-container{
         width: 90vw;
         height: max-content;
         margin: auto;
         overflow: visible
     }
 }