.form-container{
    margin: 2em;
    h3{
        text-align: center;
    }
}
.modal-buttons-container{
    display: flex;
    justify-content: space-between;
    .btn-primary{
        background-color: #32C965;
        border: none;
    }
    .btn-primary:hover {
        background-color: #259249;
        border: none;
    }
    .btn-primary:focus{
        box-shadow: none;
        background-color: #259249;
    }
    .btn-primary:active{
        background-color: #259249;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        color: #fff;
    }
}
.close-button:focus{
        box-shadow: none!important;
}
