.presentation-container{
    width: 100vw;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 3.5rem;
    grid-area: 2 / 1 / 3 / 5;
    
    img{
        opacity: 0.4;
        height: 16em ;
    }
}

.carousel{
    width: 95vw;
    height:30vh;
    margin: 0 auto 0;
    

        a{
            display:none;
        }
    
}

.presentation-text{
    color: #000;
    width: 95vw;
    margin:-25vh auto;
    //margin-top: -10em;
    text-align: center;
}

.sr-only{
    display: none;
}
// @media (max-width: 478px) {
//     .carousel{
//         margin-bottom: 10em;
//     }
// }
// @media (min-width: 572px) {
//     .carousel{
//         margin-bottom: 17em;
//     }
// }
// @media (min-width: 838px) {
//     .carousel{
//         margin-bottom: 22em;
//     }
// }
// @media (min-width: 1120px) {
//     .carousel{
//         margin-bottom: 25em;
//     }
// }