.main-container-products{
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: auto;
    margin-bottom: 1em;
    grid-area: 3 / 1 / 4 / 5;
}

.products-container{
    margin-top: 1.5em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap !important;
    //background-color: orange;
    justify-content: space-evenly;
    //grid-area: 3 / 1 / 4 / 5;
}
    

.card-body{
    text-align: center;
}
.card{
    //border: transparent;
    img{
        width: 7em;
        margin: auto
    }
}
.card:hover{
    cursor: pointer;
    .card-body{
        border-left: 0.2em solid #32C965;
    }
    img {
        opacity: 0.3;
        
    }
    
}
.product-card1{
    grid-area: 3 / 1 / 4 / 2
}
.product-card2{
    grid-area: 3 / 2 / 4 / 3;
}
.product-card3{
    grid-area: 3 / 3 / 4 / 4;
}
.product-card4{
    grid-area: 3 / 4 / 4 / 5;
}
@media (max-width: 430px){
    .main-container-products{
        margin-top: 9rem;
    }
}
@media (min-width: 431px){
    .main-container-products{
        margin-top: 10rem;
    }
}
@media (min-width: 479px){
    .main-container-products{
        margin-top: 11rem;
    }
}
@media (min-width: 572px){
    .main-container-products{
        margin-top: 12rem;
    }
}
@media (min-width: 692px){
    .main-container-products{
        margin-top: 14rem;
    }
}
@media (min-width: 838px){
    .main-container-products{
        margin-top: 16rem;
    }
}
@media (min-width: 1264px){
    .main-container-products{
        margin-top: 21rem;
    }
}