.registration-form-container{
    width: 60vw;
    justify-content: center;
    margin: auto;
    padding: 1em 2em;
    border: none;
    box-shadow: 0 0 1em #32C965;
}
.form-group{
    text-align: center;
}
.registration-form-container:hover {
    cursor: default;
    img{
        opacity:1;
    }
}a .nav_link{
    align-self: center;
}
.input{
    cursor: text;
    width: 100%;
    text-align: center;
    background-color: #fff;
    border: none !important;
}
.input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #FF3135;
    outline: 0;
    box-shadow: 0 -0.3em 0.3em #FF3135!important;
}

.registration-button{
    display: flex;
    justify-content: center;
    .btn-primary{
        background-color: #32C965;
        border: none;
    }
    .btn-primary:hover {
        background-color: #259249;
        border: none;
    }
    .btn-primary:focus{
        box-shadow: none;
        background-color: #259249;
    }
    .btn-primary:active{
        background-color: #259249;
    }
}
.close-button{
    display: flex;
    justify-content: end;
    background-color: #fff!important;
    border: none!important;
    img{
        width: 2em;
    }
    .btn-primary{
        background-color: #FF3135;
        border: none;
    }
    .btn-primary:hover {
        background-color: #ff3134d7;
        border: none;
    }
    .btn-primary:focus{
        box-shadow: none!important;
        background-color: #ff3134d7;
    }
    .btn-primary:active{
        background-color: #ff3134d7;
    }
}
